*{
    background-image: url("../images/background.JPG");
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
}
body{
  
   margin: 0;
   padding: 0;
}

/* HEADER */
header{
    text-align: center;
    margin-top: 1em;
}
header img{
    width: 5em;
    height: 5em;
    border-radius: 50%;
}
a{
     text-decoration: none;
    color: #27AE60;
}
ul{
    list-style: none;
    margin-top: 3em;
    margin-bottom: 3em;
}

/* CAROUSEL */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    width: 40vw;
    height: 50vh;
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
}

/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 3s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 10px;
  border-radius: 4px 0 0 4px;
}
.Back{
    left: 0;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption Info */
.info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Content */
.info {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background: linear-gradient(92.18deg, #a049e9 -25.78%, #6643db 123.02%);
  opacity: 0.3;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background: linear-gradient(92.18deg, #a049e9 -25.78%, #6643db 123.02%);
  opacity: 1;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 4s;
}

@-webkit-keyframes fade {
  from {opacity: 0.5}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.5}
  to {opacity: 1}
}


.Containers img {
    width: 100%;
    height: 50vh;
}
/* FIN CAROUSEL */

#optionsService{
    display: none;
}

/* ACCUEIL */
#accueil{
    height: 80vh;
    /* display: flex; */
    /* align-content: center; */
    text-align: center;
    font-size: 1.5em;
}

/* PROPOS */
#about{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#imagesPropos{
display: flex;
flex-direction: column;
margin: auto;
}
.about_image{
    width: 30vw;
    height: 30vh;
    margin: auto;
    border: solid green 2px;
}
#descriptAbout{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
    font-size: 1.3em;
}


h2{
    color: #27AE60;
    margin-bottom: -0.5em;
}

#contact{
    width: 25%;
    margin: auto;
    background-color: rebeccapurple;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-items: self-start; */
    /* justify-content: ; */
}
#contact_h2{
    margin-bottom: 2em;
}

.contact_composant{
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
}
.contact_composant img{
    width: 10em;
    height: 6em;
    margin-right: 30px;
}



/* LAPTOP FORMAT */
@media screen and (min-width: 800px) {
    /* header img{

    } */
    ul{
        display: flex;
        justify-content: space-around;
        font-size: 2em;

    }
    /* PROPOS */
    #descriptAbout_1, #descriptAbout_2{
        display: flex;
        justify-content: space-between;
        margin-bottom: 2em;
    }

    .marginRight{
        margin-right: 2em;
    }

    /* SERVICES */
    #naturel, #appareils{
        /* height: 100vh; */
        width: 93vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
    }    
    #firstLine, #secondLine{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .service{
        flex: 1;
        margin: 0 10px;
    }
    .service img{
        width: 100%;
        height: 20em;
    }
    #appareils_section{
        width: 90vw;
        margin: auto;
        display: flex;
    }
}